<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>cx.ath.tufty.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Wacom-GD-xxxx-A</key>
		<dict>
			<key>ADB Match</key>
			<string>0x04-0x6a</string>
			<key>CFBundleIdentifier</key>
			<string>cx.ath.tufty.ADBHIDDevice</string>
			<key>IOClass</key>
			<string>ADBHIDTablet</string>
			<key>IOProviderClass</key>
			<string>IOADBDevice</string>
			<key>newHandler</key>
			<integer>106</integer>
		</dict>
		<key>Wacom-UD-xxxx-A</key>
		<dict>
			<key>ADB Match</key>
			<string>0x04-0x3a</string>
			<key>CFBundleIdentifier</key>
			<string>cx.ath.tufty.ADBHIDDevice</string>
			<key>IOClass</key>
			<string>ADBHIDTablet</string>
			<key>IOProviderClass</key>
			<string>IOADBDevice</string>
			<key>newHandler</key>
			<integer>104</integer>
		</dict>
		<key>Calcomp-UltraSlate-Model-10090A</key>
		<dict>
			<key>ADB Match</key>
			<string>0x04-0x40</string>
			<key>CFBundleIdentifier</key>
			<string>cx.ath.tufty.ADBHIDDevice</string>
			<key>IOClass</key>
			<string>ADBHIDUltraSlate</string>
			<key>IOProviderClass</key>
			<string>IOADBDevice</string>
			<key>newHandler</key>
			<integer>64</integer>
		</dict>
		<key>Wacom/Ultraslate Tablet Handler</key>
		<dict>
			<key>VendorID</key>
			<integer>65261</integer>
			<key>ProductID</key>
			<integer>64206</integer>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kernel.iokit</string>
			<key>IOClass</key>
			<string>IOHIDEventDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>SupportsInk</key>
			<string>1</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOADBFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.0b1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
	</dict>
</dict>
</plist>
